#* @vtlvariable name="events" type="java.util.List<kontrol.api.EventLogEntry>" *#
<!DOCTYPE html>
    #set($Integer = 0)
<html>
<head>
    <title>Defcon</title>
    #parse("head.vm")
</head>
<body>

    #parse("style.vm")

<div id="wrap">
    <!-- Fixed navbar -->
##    #parse("navbar.vm")

    <div class="container" style="margin-bottom: -20px;margin-top: -10px">
        <table class="table">
            #if($defcon == 1)
            <tr style="background-color:#aaa">
            #else
            <tr style="opacity:0.5">
            #end
            <td class="col-md-4"></td>
            <td style="background-color: #8b0000" class="col-md-4">
                <div style="margin:20px;font-size:800%;text-align: center;vertical-align: middle;font-weight: bolder">
                    1
                </div>
            </td>
            <td class="col-md-4" style="font-size:200%;;text-align: center;vertical-align: middle;color:#282828">Group
                Failed
            </td>
        </tr>
            #if($defcon == 2)
            <tr style="background-color:#aaa">
            #else
            <tr style="opacity:0.5">
            #end
            <td class="col-md-4"></td>
            <td style="background-color:#b04500" class="col-md-4">
                <div style="margin:20px;font-size:800%;text-align: center;vertical-align: middle;font-weight: bolder">
                    2
                </div>
            </td>
            <td class="col-md-4" style="font-size:200%;;text-align: center;vertical-align: middle;color:#282828">Group
                Broken
            </td>
        </tr>
            #if($defcon == 3)
            <tr style="background-color:#aaa">
            #else
            <tr style="opacity:0.5">
            #end
            <td class="col-md-4"></td>
            <td style="background-color: #ff8c00" class="col-md-4">
                <div style="margin:20px;font-size:800%;text-align: center;vertical-align: middle;font-weight: bolder">
                    3
                </div>
            </td>
            <td class="col-md-4" style="font-size:200%;;text-align: center;vertical-align: middle;color:#282828">Group
                Overloaded
            </td>
        </tr>
            #if($defcon == 4)
            <tr style="background-color:#aaa">
            #else
            <tr style="opacity:0.5">
            #end
            <td class="col-md-4"></td>
            <td style="background-color: #b8860b" class="col-md-4">
                <div style="margin:20px;font-size:800%;text-align: center;vertical-align: middle;font-weight: bolder">
                    4
                </div>
            </td>
            <td class="col-md-4" style="font-size:200%;;text-align: center;vertical-align: middle;color:#282828">
                Machines
                Overloaded
            </td>
        </tr>
            #if($defcon == 5)
            <tr style="background-color:#707070">
            #else
            <tr style="opacity:0.5">
            #end
            <td class="col-md-4"></td>
            <td style="background-color: #006400" class="col-md-4">
                <div style="margin:20px;font-size:800%;text-align: center;vertical-align: middle;font-weight: bolder">
                    5
                </div>
            </td>
            <td class="col-md-4" style="font-size:400%;;text-align: center;vertical-align: middle;color:#282828">OK</td>
        </tr>
        </table>
    </div>
</div>

##    #parse("footer.vm")
</body>
</html>