<!DOCTYPE html>
#* @vtlvariable name="topology" type="kontrol.api.Topology" *#


    #set($Integer = 0)

<html>
<head>
    <title>Server Status Page</title>
    #parse("head.vm")
</head>
<body>

    #include("style.vm")

<div id="wrap">
    <!-- Fixed navbar -->
    #include("navbar.vm")

    <div class="container">
        <div class="page-header">
            <h1>Status</h1>
        </div>
        #foreach($group in $topology.members.values())
            <div class="row">

                <div>
                    <h2>$group.name()
                        <small>($!group.stateMachine.state())</small>
                        <small>${group.activeSize()}/${group.machines().size()} Active</small>
                        <small>${group.workingSize()}/${group.machines().size()} Working</small>
                    </h2>
                    <table class="table">

                        #foreach($machine in $group.enabledMachines())

                            #if($machine.state().toString() == "OK")
                            <tr class="success">
                            #elseif($machine.state().toString() == "BROKEN")
                            <tr class="danger">
                            #elseif($machine.state().toString() == "DEAD")
                            <tr class="danger">
                            #elseif($machine.state().toString() == "REBUILDING")
                            <tr class="warning">
                            #elseif($machine.state().toString() == "FAILED")
                            <tr class="danger">
                            #elseif($machine.state().toString() == "STOPPING")
                            <tr class="warning">
                            #elseif($machine.state().toString() == "STOPPED")
                            <tr class="warning">
                            #elseif($machine.state().toString() == "RESTARTING")
                            <tr class="warning">
                            #elseif($machine.state().toString() == "UNKNOWN")
                            <tr class="warning">
                            #elseif($machine.state().toString() == "STALE")
                            <tr class="info">
                            #else
                            <tr>
                            #end
                            <td class="col-md-3">$!machine.name()</td>
                            <td class="col-md-1">$!machine.state()</td>
                            <td class="col-md-2">$!machine.hostname()</td>
                            <td class="col-md-1">$!machine.ip()</td>
                            <td class="col-md-5">
                                <div class="details">
                                    <!--$machine.data-->
                                    #if($machine.load)
                                        <div class="row">
                                            <div class="col-md-3">Load</div>
                                            <div class="col-md-9">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar" role="progressbar"
                                                         aria-valuenow="$machine.load" aria-valuemin="0"
                                                         aria-valuemax="10"
                                                         style="max-width:100%;width:${machine.load.I(10)}%">
                                                        <span class="sr-only">Load $machine.load </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    #end
                                    #if($machine['http-response-time'])
                                        <div class="row">
                                            <div class="col-md-3">Response</div>
                                            #set($respVal= $machine['http-response-time'].L() / 50)
                                            <div class="col-md-9">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar" role="progressbar"
                                                         aria-valuenow="$machine['http-response-time']"
                                                         aria-valuemin="0" aria-valuemax="5000"
                                                         style="max-width:100%;width:${respVal}%">
                                                        <span class="sr-only">Response $machine['http-response-time'].L() </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    #end
                                    #if($machine['http-status'])
                                        <div class="row">
                                            <div class="col-md-3">HTTP SC</div>
                                            <div class="col-md-9">
                                                $machine['http-status']
                                            </div>
                                        </div>
                                    #end
                                    </a>
                                </div>
                            </td>
                        </tr>

                        #end
                    </table>
                </div>
            </div>
        #end

    </div>
</div>

    #include("footer.vm")
</body>
</html>