<!DOCTYPE html>
#* @vtlvariable name="postmortems" type="java.util.List<kontrol.api.PostmortemResult>" *#
    #set($Integer = 0)
<html>
<head>
    <title>Postmortem: $postmortem.name</title>
    #parse("head.vm")
</head>
<body>

    #parse("style.vm")

<div id="wrap">
    <!-- Fixed navbar -->
    #parse("navbar.vm")

    <div class="container">
        <div class="page-header">
            <h1>Postmortem: $postmortem.name</h1>
        </div>
        #foreach($part in $postmortem.parts)
            <div class="row">
                <div class="col-md-2">$part.k</div>
                <div class="col-md-10">$part.toHTML()</div>
            </div>
        #end
    </div>

</div>
</div>

    #parse("footer.vm")
</body>
</html>